#header {
	

}

#mike {
	color: white;
	border: solid 1px black;
	font-size: 18px;
	background-color: green;
	white-space: nowrap;
	display: inline-block;
}

.tablink {
	float: right;
	padding-left: 50px;
	display: inline-block;
	font-size: 15px;
}

#about {
	border: solid 1px black;
	padding-left: 150px;
	margin-right: 200px;
	margin-left: 200px;

}

#connect {
	display: inline-block;
}


